<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Order_by_id</title>
</head>
<body>

<main>
    <h1>Тут показываем все Заказы</h1>
    <p>{{json}}</p>
    <hr>
    <h1>Тут добавляем новый Заказ</h1>

    <form action="/orders/" method="post">
        <input name="name" type="text" value=":text:Введите name" class="button"> <br>
        <input name="description" type="text" value=":text:Введите description" class="button"> <br>
        <input name="start_date" type="text" value=":int:Введите start_date" class="button"> <br>
        <input name="end_date" type="text" value=":text:Введите end_date" class="button"> <br>
        <input name="address" type="text" value=":text:Введите address" class="button"> <br>
        <input name="price" type="text" value=":text:Введите price" class="button"> <br>
        <input name="customer_id" type="text" value=":text:Введите customer_id" class="button"> <br>
        <input name="executor_id" type="text" value=":text:Введите executor_id" class="button"> <br>
        <input type="submit" value="Добавить новый Ордер" class="button">
    </form>
    <hr>

    <h1>Тут удаляем Заказ</h1>

    <form action="/orders" method="post">
        <input name="del_ord" type="text" value=":int:Введите id ордера" class="button" size="30"> <br>
        <input type="submit" value="Удалить ордер" class="button">
    </form>
    <hr>

    <h1>Тут обновляем Заказ</h1>

    <form action="/orders/" method="post">
        <input name="upd_ord_id" type="text" value=":int:Введите id" class="button"> <br>
        <input name="name" type="text" value=":text:Введите name" class="button"> <br>
        <input name="description" type="text" value=":text:Введите description" class="button"> <br>
        <input name="start_date" type="text" value=":text:Введите start_date" class="button"> <br>
        <input name="end_date" type="text" value=":text:Введите end_date" class="button"> <br>
        <input name="address" type="text" value=":text:Введите address" class="button"> <br>
        <input name="price" type="text" value=":int:Введите price" class="button"> <br>
        <input name="customer_id" type="text" value=":text:Введите customer_id" class="button"> <br>
        <input name="executor_id" type="text" value=":text:Введите executor_id" class="button"> <br>
        <input type="submit" value="Обновить Пользователя" class="button">
    </form>
    <hr>


</main>
</body>
</html>
